{% extends "admin/base.html.twig" %}
{% import 'admin/_parts/dialogs.html.twig' as dialogs %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset( 'admin/vendors/css/vendors.min.css' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ asset( 'admin/css/pages/page-users.min.css' ) }}">
{% endblock %}


{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Редактировать категорию</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url('admin_dashboard_index') }}">Домой</a></li>
                        <li class="breadcrumb-item"><a href="{{ url('admin_category_index') }}">Список категорий</a></li>
                        <li class="breadcrumb-item"><a href="#">Редактировать категорию</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-6 col-12 mb-md-0 mb-2">
            <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">

                <a data-toggle="modal" href="#remove-category-{{ category.id  }}" class="btn btn-outline-primary"><i class="fa fa-trash"></i></a>
                {{ dialogs.confirm('remove-category-' ~ category.id, 'Удалить', url('admin_category_delete', {id: category.id}), 'Вы точно хотите удалить категорию?') }}
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="invoice-add-wrapper">
            <div class="row">

                <div class="col-xl-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            {% include('admin/category/parts/form.html.twig') with  {submit: 'Обновить'} %}

                            <hr>

                            <h2>Тесты в категории:</h2>

                            {% for key, quiz in category.quizes %}
                                <hr>

                                <div class="card">
                                    <div class="card-header" id="heading-links">
                                        <h4 class="card-title text-capitalize">{{ quiz.id }}. {{ quiz.title }} </h4>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <ul class="list-inline mb-0">
                                            <li>
                                                <a href="{{ path('admin_quiz_edit', {id : quiz.id}) }}" class="btn btn-outline-primary"><i class="fa fa-pencil"></i></a>
                                            </li>
                                            <li>
                                                <a data-toggle="modal" href="#remove-quiz-{{ quiz.id  }}" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                                                {{ dialogs.confirm('remove-quiz-' ~ quiz.id, 'Удалить', path('admin_category_quiz_remove', {category : category.id, quiz : quiz.id}), 'Вы точно хотите удалить тест из категории?') }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            {% endfor %}

                            {# <a href="{{ path('admin_category_quiz_create', {id : category.id}) }}" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Добавить Вопрос</a> #}

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('admin/vendors/js/tables/datatable/datatables.min.js') }}"></script>
<script src="{{ asset('admin/js/scripts/pages/page-users.min.js') }}"></script>
<script src="{{ asset('admin/vendors/js/forms/repeater/jquery.repeater.min.js') }}"></script>
<script src="{{ asset('admin/vendors/js/forms/toggle/switchery.min.js') }}"></script>
<script src="{{ asset('admin/js/scripts/pages/app-invoice.min.js') }}"></script>
{% endblock %}