{% extends 'admin/base_auth.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <section class="row flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                <div class="card border-grey border-lighten-3 m-0">
                    <div class="card-header border-0">
                        <div class="card-title text-center">
                            <div class="p-1"><img src="{{ asset('images/logo.svg') }}" alt="branding logo"></div>
                        </div>
                        <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Войти в админ панель</span></h6>
                    </div>

                    <div class="card-content">
                        <div class="card-body">
                            {{ form_start(form) }}

                            <fieldset class="form-group position-relative has-icon-left">
                                {{ form_widget(form.username, {attr: {placeholder: 'Юзернейм', class: 'form-control-lg'}}) }}
                                <div class="form-control-position"><i class="feather icon-user"></i></div>
                            </fieldset>
                            <fieldset class="form-group position-relative has-icon-left">
                                {{ form_widget(form.plainPassword.first, {attr: {placeholder: 'Пароль', class: 'form-control-lg'}}) }}
                                <div class="form-control-position"><i class="fa fa-key"></i></div>
                            </fieldset>
                            <fieldset class="form-group position-relative has-icon-left">
                                {{ form_widget(form.plainPassword.second, {attr: {placeholder: 'Повторите пароль', class: 'form-control-lg'}}) }}
                                <div class="form-control-position"><i class="fa fa-key"></i></div>
                            </fieldset>

                            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="feather icon-unlock"></i> Регистрация</button>

                            {{ form_end(form) }}
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
