{% extends "admin/base.html.twig" %}
{% import 'admin/_parts/dialogs.html.twig' as dialogs %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Отделы</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url('admin_dashboard_index') }}">Домой</a></li>
                            <li class="breadcrumb-item"><a href="#">Список отделов</a></li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="content-header-right col-md-6 col-12 mb-md-0 mb-2 text-right">
                <a class="btn btn-outline-primary" href="{{ url('admin_department_create') }}">+</a>
            </div>
        </div>

        <div class="content-body">
            <section class="users-list-wrapper">
                <div class="users-list-table">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="users-list-datatable" class="table">
                                        <thead>
                                        <tr>
                                            <th style="width: 5%;">ID</th>
                                            <th>Название</th>
                                            <th style="width: 10%;">Действия</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for entity in data %}
                                            <tr data-entity-id="{{ entity.id }}">
                                                <td class="align-middle">{{ entity.id }}</td>
                                                <td class="align-middle">{{ entity.name }}</td>
                                                <td class="align-middle">
                                                    <div class="invoice-action" style="display: flex;justify-content: space-around;">
                                                        <div>
                                                            <a href="{{ path('admin_department_edit', {id: entity.id}) }}" class="btn btn-success"><i class="fa fa-edit"></i></a>
                                                        </div>
                                                        <div>
                                                            <a data-toggle="modal" href="#remove-entity-{{ entity.id }}" class="btn btn-danger"><i class="fa icon-trash"></i></a>
                                                        </div>
                                                        {{ dialogs.confirm('remove-entity-' ~ entity.id, 'Удалить', url('admin_department_delete', {id: entity.id}), 'Вы точно хотите удалить отдел ' ~ entity.name ~ '?') }}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}